body {
    margin: 0;
    font-family: sans-serif;
    font-size: 0.9rem;
    height: 100%;
    width: 100%;
    background-color: #404040;
    background-image: url(./images/texture.png);
}
#app-pdf {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.toolbar {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0.25em;
    float: inside;
    background-color: #474747;
    /*background-image: url(images/texture.png), linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));*/
}
.toolbar-btn{
    cursor: pointer;
}
.toolbar-btn .fa{
    font-size: 1rem;
}
.toolbar.page-mode input {
    color: currentColor;
    background-color: transparent;
    font: inherit;
    border: 1px solid currentColor;
    border-radius: 3px;
    padding: 0.25em 0.5em;
}
.toolbar input{
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 50px;
    font-size: 0.8rem;
}
.page-mode span{
    margin: 5px;
}
.toolbar button:hover,
.toolbar button:focus,
.page-mode input:hover,
.page-mode input:focus {
    color: lightGreen;
}
.page-mode {
    display: flex;
    align-items: center;
    padding: 0.25em 0.5em;
}

#viewport-container {
    flex: 1;
    overflow: auto;
    box-shadow: inset 1px 0 0 hsla(0,0%,100%,.05);
}
#viewport {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#viewport > div {
    text-align: center;
    max-width: 100%;
}
#viewport canvas {
    text-align: center;
    box-shadow: 0 2px 5px gray;
    margin: auto;
}

.label{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: unset;
}
.pager{
    margin: 0 auto;
    text-align: center;
    padding-right: 0px !important;
    padding-left: 80px !important;
}
.icontoolbartop{
    align-items: center;
    text-align: right;
}

.toobartop{
    box-shadow: inset 0 1px 1px hsla(0,0%,0%,.15), inset 0 -1px 0 hsla(0,0%,100%,.05), 0 1px 0 hsla(0,0%,0%,.15), 0 1px 1px hsla(0,0%,0%,.1);
}
.toolbar_bottom{
    text-align: center;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
button{
    color: white;
    background-color: transparent;
    font: inherit;
    border-radius: 3px;
    padding: 0.25em 0.5em;
    border: 0 none;
}
canvas{
    margin:0 0 20px 0;
}
@media (min-width: 992px) {
    .toolbar{
        min-width: 992px;
    }
}